table {
    background-color: #ffffff;
    box-shadow: 0 0 10px #cccccc;
}

#deleteForm{
    display: inline-block;
}
#dataForm {
    padding: 15px;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0 0 10px #cccccc;
}

#deleteForm {
    display: inline-block;
}

.alert-custom {
    float: right;
    border: 1px solid green;
    border-radius: 4px;
    background-color: #dff0d8;
    color: #3c763d;
    padding: 6px 10px;
}

.alert-custom p {
    margin: 0;
}

.alert-custom p span {
    font-weight: bold;
}

hr {
    border-top: 1px solid #dddddd;
}
.form-group{
    margin-bottom: 10px;
}
table#orderList{
    width: 635px;
    table-layout: fixed;
    margin-top: 30px;
}
#orderList th, #orderList td{
    border: 1px solid black;
}
#orderList th{
    text-align: center;
}
#orderList .inputQty{
    width:50px;
    border: 1px solid black;
    margin: 4px 20px 4px 40px;
}